*{
	font-family: 'Roboto'
}
header{
	background-color: #F7D358;
	width: 100%;
	height: 500px;
}
nav a{
	text-decoration: none;
	padding: 10px 15px;
	color: white;
}
ul{
	list-style-type: none;
}
li{
	color: white;
	float: right;
	margin-top: 30px;
	padding: 0;
}
button{
	color: white;
    background: #FFBF00;
    width: 150px;
    height: 50px;
    font-size: 15px;
  	margin-top: 60px;
    position: absolute;
}
.botSuma{
	text-decoration: none;
	color: white;
}
.labo{
	color: white;
	text-align: center;
	margin-top: 150px;
}
section{
	background-color: #BDBDBD;
	width: 100%;
	height: 100%;
}
.cajaPapa{
	width: 250px;
	height: 350px;
	background-color: white;
	margin:30px;
	padding-top: 25px;
	display: inline-block;
}
.cajaHijo{
	width: 200px;
	height: 200px;
	background-color: #BDBDBD;
	margin-left: 25px;
	margin-bottom: 25px;
}
.uno{
	margin-left: 200px;
}
#text1{
	color:#424242;
	position: absolute;
	padding: 90px 0px 0px 60px; /*arriba / / /izquierda*/
	font-size: 20px;
}
#ejem{
	margin-top: -20px;
	margin-left: 5px;
}
#parr{
	font-size: 10px;
	padding: 10px;
	color:#A4A4A4;
}
#leerMas{
	width: 50px;
	height: 20px;
	background-color: #FACC2E;
	font-size: 10px;
	position: absolute;
	margin-top: -5px;
	margin-left: 90px;
}
footer{
	background-color: #2E2E2E;
	width: 100%;
	height: 50px;
}
.navFoot{
	display: inline-block;
	margin-top: -15px;
}
.li{
	float: none;
	display: inline-block;
	border-right: 1px solid white;
	padding-right: 10px;
	margin-left: 5px;
}
.li1{
	border-right: none;
}

.imgFoot{
	width: 18px;
	height: 18px;
	margin-top: 1px;
	position: absolute;
}
.aFoot{
	text-decoration: none;
	color: #0040FF;
	margin-left: 3px;
}